body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem 0 0;
}

p {
  margin: 0 0 4rem;
}

.calculator {
  height: 450px;
  width: 300px;
  border: 1px solid;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:slategray;
  border-radius: 3%;
}

.display, .keypad {
  margin-top: 15px;
}

.display {
  height: 70px;
  width: 80%;
  border-radius: 5%;
  background-color: wheat;
}

#operator, #undo, #clear, #equals {
  color: white;
}

#operator, #undo{
  background-color: darkgoldenrod;
}

#clear {
  background-color: darkred;
}

#equals {
  background-color: darkcyan;
}

button {
  font-size: 18px;
  font-weight: 600;
}

.keypad {
  height: 330px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 5px;
  column-gap: 5px; */
  gap: 5px;
}

#equals {
  grid-column: 3 / 5; /* first value is grid-start and second value is grid-end */
  width: 100%;
}

footer {
  text-align: center;
}
