body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9AFD9;
  background-image: linear-gradient(45deg, rgba(217, 175, 217, 1) 0%, #97D9E1 100%);

}

h1 {
  margin: 6rem 0 0;
}

p {
  margin: 2rem 0; 
  font-size: 18px;
}

.calculator {
  height: 450px;
  width: 300px;
  border: 2px solid;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color:silver;
  border-radius: 3%;
}

.display, .keypad {
  margin-top: 15px;
}

.display {
  height: 70px;
  width: 85%;
  border: 2px solid black;
  border-radius: 10%;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.display .previous-operation {
  font-size: 1.5rem;
  color:rgba(0, 0, 0, 60%);
  min-height: 1.5rem;
  margin: 0 2px;
}

.display .current-operation {
  font-size: 2.5rem;
  min-height: 2.5rem;
  margin: 2px;
}

#operator, #undo, #all-clear, #equals {
  color: white;
}

.number {
  background-color: oldlace;
}

#operator, #undo{
  background-color: darkgoldenrod;
}

#all-clear {
  background-color: darkred;
}

#equals {
  background-color: darkcyan;
}

.keypad > button {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

.keypad {
  height: 330px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* row-gap: 5px;
  column-gap: 5px; */
  gap: 5px;
}

#equals {
  grid-column: 3 / 5; /* first value is grid-start and second value is grid-end */
  width: 100%;
}

footer {
  margin-top: 8rem;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
